<div ng-controller="jobBrowser" class="text-center">
    <div class="filterOptions" style="margin-bottom: 14px">

        <label>
           <input ng-model="region" type="text" placeholder="suburb/city" class="form-control">
        </label>

        <label>Range
            <select ng-model="radius" >
                <option value=5> < 5km</option>
                <option value=10> 5-10km</option>
                <option value=20> 10-20km</option>
                <option value=50>  20-50km</option>
                <option value=2000>  50km +</option>
            </select>
        </label>

    <label>Sort By
        <select ng-model="sortBy" ng-change="sort(sortBy)">
            <option value=0>Most Recent</option>
            <option value=1>Time Period</option>
            <option value=2>Category</option>
        </select>
    </label>

<button class="btn blueBack applyFilter" ng-click="applyFilters()">Apply Filters</button>
    </div>
    <div class=" jobsContainer container">
<div class="row jobBox feature blueTop" ng-repeat="job in jobs">

        

    <div class="col-md-2">
        <div >
        <img  ng-src="data:image/png;base64,{{job.logo}}"  class="img-circle browseLogos"><br>
        <a class="companyLink">
            <span ng-if="job.employerID.employerType == 'Company'" >{{job.employerID.company.name}}</span>
            <span ng-if="job.employerID.employerType == 'Individual'" >{{job.employerID.contact.name + " " +job.employerID.contact.surname}}</span>
        </a>
            </div>
    </div>
    <div class="col-md-10">
    <div class="col-md-10 jobsHead">
        <h2 class="jobCategory">{{job.post.category}}</h2>
        <small class="jobTimePeriod">{{job.post.timePeriod}}</small>
    </div>

        <div class="col-md-12">
            <div class="row ">
            <span class="wordwrap"> {{job.post.description.substring(0,30)}}...</span>
                <span class="text-danger" ng-if="job.post.interviewRequired"> <br><span class="glyphicon glyphicon-warning-sign"></span> Interview Required</span>
                <br><span class="pull-right small"> Posted on: {{job.post.postDate}}</span>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-1"></div>
                <table class="col-md-4 jobInfoBox">
                    <thead class="blueBack">
                    <th class="glyphicon glyphicon-map-marker infoBoxHead "></th>
                    </thead>
                    <tbody>
                    <tr><td>{{job.post.location.address.split(',')[0]}}</td></tr>
                    </tbody>
                </table>
                <table class="col-md-2 jobInfoBox">
                    <thead class="blueBack">
                    <th class="glyphicon glyphicon-credit-card infoBoxHead "></th>
                    </thead>
                    <tbody>
                    <tr><td> R{{job.post.pay + "/" + getPer(job.post.timePeriod) }}</td></tr>
                    </tbody>
                </table>

                <table class="col-md-2 jobInfoBox">
                <thead class="blueBack">
                <th class="glyphicon glyphicon-time infoBoxHead "></th>
                </thead>
                <tbody>
                <tr><td>{{job.post.timePeriod}}</td></tr>
                </tbody>
            </table>
                <table class="col-md-2 jobInfoBox">
                    <thead class="blueBack">
                    <th class=" glyphicon glyphicon-calendar infoBoxHead "></th>
                    </thead>
                    <tbody>
                    <tr><td>{{job.post.startingDate}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>










    <br>


    <a class="jobLink" href="/job?id={{job._id}}"> </a>
</div>
    </div>
</div>