<div ng-controller="jobCtrl" class="text-center">




    <div class="jobContent blueBorder container">

        <h2>{{job.post.role}}</h2>
        <hr>
        {{job.post.description}}<br>
        <div ng-if="job.post.interviewRequired" class="text-danger">Interview Required</div>
        <hr>
        Location:
        {{job.post.location}}<hr>

        <ul class="list-group no-borders pull-in">
        Requirements:
            </ul>
        <br>
        <ul ng-if="job.post.requirements.length > 0 " class="list-group no-borders pull-in">
            Matric Results
            <li   ng-repeat="res in job.post.requirements">
                <div class="clear">
                    <div>{{res.name}}  {{res.symbol}}</div>
                </div>
            </li>

        </ul>
        <br>
        <ul ng-if="job.post.experience.length > 0 " class="list-group no-bg no-borders pull-in">
            Experience
            <li   ng-repeat="res in job.post.experience">
                <div class="clear">
                    <div>{{res.category}}</div>
                </div>
            </li>

        </ul>
        <ul class="list-group no-bg no-borders pull-in">
                <div>Gender: {{job.post.gender}}</div>
            <div ng-if="job.post.transport">Own Transport</div>
            <div ng-if="job.post.driversLicense">Driver's License</div>
        </ul>

        <hr>
        <ul class="list-group no-bg no-borders pull-in">

                Pay:  R{{job.post.pay}}
                <span ng-if="job.post.timePeriod == 'Once Off'">/Once Off</span>
                <span ng-if="!job.post.timePeriod == 'Once Off'">/hour</span>

        </ul>
        <ul class="list-group no-bg no-borders pull-in">

            <span ng-if="job.post.timePeriod == 'Once Off'">Date:  {{job.post.startingDate}}</span>
            <span ng-if="job.post.endDate">Starting Date:  {{job.post.startingDate}}  End Date: {{job.post.startingDate}}</span><br>
            <span ng-if="job.post.hours"> {{job.post.hours.begin + " - " +job.post.hours.end}}</span>

        </ul>
        <ul class="list-group no-bg no-borders pull-in">

            <span>Positions available:  <b>{{job.post.spotsAvailable}}</b></span><br>
            <span>Max applicants:  <b>{{job.post.spotsAvailable *job.post.threshold}}</b></span>


        </ul>







    <div class="center">
        <button ng-if="canApply" class="btn blueBack btn-xlarge" ng-click="apply()">Apply</button>
        <button ng-if="hasApplied" class="btn greenBack btn-xlarge" disabled>Applied</button>
        <button ng-if="admin" class="btn btn-plain btn-xlarge jobButtons" ng-click="edit(job._id)">Edit</button>
        <button ng-if="admin" class="btn btn-danger btn-xlarge  jobButtons" ng-click="delete()">Delete</button>
    </div>
    </div>
</div>