<div ng-controller="jobCtrl" class="text-center">

    <div ng-if="job.employerID.employerType == 'Individual'"class="profileHeader">{{job.employerID.contact.name + " " + job.employerID.contact.surname}}</div>
    <div ng-if="job.employerID.employerType == 'Company'"class="profileHeader">{{job.employerID.company.name}}</div>
   
    <h2>{{job.post.role}}</h2>
    <div class="jobContent">
        <hr>
        {{job.post.description}}<hr>
        {{job.post.location}}<hr>
        R{{job.post.pay}}<hr>

    </div>

    Requirements:
    <ul class="list-group no-bg no-borders pull-in">
        <li class="list-group-item" ng-repeat="res in job.post.requirements">
            <div class="clear">
                <div>{{res.name}}  {{res.symbol}}</div>
            </div>
        </li>


    </ul>

    <div class="center">
        <button ng-if="canApply" class="btn btn-primary btn-xlarge" ng-click="apply()">Apply</button>
        <button ng-if="admin" class="btn btn-plain btn-xlarge" ng-click="edit(job._id)">Edit</button>
        <button ng-if="admin" class="btn btn-danger btn-xlarge" ng-click="delete()">Delete</button>
    </div>
</div>