
	<div class="wrapper text-center">
	  <strong>Sign up to get started</strong><br/><br />
		<strong>Sign up as:</strong>
		<div class="list-group list-group-sm">
			<label class="radio-inline">
				<input type="radio" name="Employerradio" id="Employerradio">Employer
			</label>
			<label class="radio-inline">
				<input type="radio" name="Studentradio" id="Studentradio">Student
			</label>
		</div><br />
	</div>

<div ng-controller="signup">
<form name="signUpForm" class="form-validation" ng-submit="submitForm()">
    <div class="text-danger wrapper text-center">

    </div>
			<div id="employerSUForm" class="list-group list-group-sm" hidden>
				<fieldset class="form-group">
					<label>Company Info</label>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="Company Name" ng-model="user.companyName" required>
					</div>
					<div class="list-group-item">
						<input list="BC" name="browser" class="form-control no-border" placeholder="Choose business category or type own" ng-model="user.businessCat" required>
					</div>
					<datalist id="BC">
						<option value="IT">
						<option value="Recruitment">
						<option value="Law">
						<option value="Design">
						<option value="Education">
					</datalist>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="Company registration number" ng-model="user.companyReg" required>
					</div>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="Brief company description" ng-model="user.companyReg" required>
					</div>
					<div class="list-group-item">
						<!--Link google location API en gebruik location auto complete-->
						<input id="pac-input" type="text" class="controls form-control no-border" placeholder="Enter Comany Location" ng-model="user.companyLoc" required>
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label>Contact Info</label>
					<div class="list-group-item">
						<input placeholder="Name" class="form-control no-border" ng-model="user.name" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Surname" class="form-control no-border" ng-model="user.surname" required>
					</div>
					<div class="list-group-item">
						<input placeholder="ID number" class="form-control no-border" ng-model="user.empId" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Position within company" class="form-control no-border" ng-model="user.empPos" required>
					</div>
					<div class="list-group-item">
						<input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
					</div>
					<div class="list-group-item">
						<input type="text" placeholder="Contact number" class="form-control no-border" ng-model="user.empContact" required>
					</div>
					<div class="list-group-item">
						<input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
					</div>
					<div class="list-group-item">
						<input type="password" placeholder="Confirm password" class="form-control no-border" ng-model="user.repassword" required>
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label>Alternate contact info</label>
					<div class="list-group-item">
						<input placeholder="Alternate contact name" class="form-control no-border" ng-model="user.altName" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Alternate contact surname" class="form-control no-border" ng-model="user.altSurname" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Alternate contact number" class="form-control no-border" ng-model="user.altContact" required>
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label>Other info</label>
					<div class="list-group-item">
						<input list="how" placeholder="How did you hear about us?" class="form-control no-border" ng-model="user.suggested">
						<datalist id="how">
							<option value="Friend">
							<option value="Recruitment company">
							<option value="Family">
						</datalist>
					</div>
				</fieldset>
			</div>
			<div id="studentSUForm" class="list-group list-group-sm" hidden>
				<fieldset class="form-group">
					<label>Student Info</label>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="Name" ng-model="user.studentName" required>
					</div>
					<div class="list-group-item">
						<input class="form-control no-border" placeholder="Surname" ng-model="user.studentSurname" required>
					</div>
					<div class="list-group-item">
						<input type="email" class="form-control no-border" placeholder="valid UCT email" ng-model="user.studentEmail" required>
					</div>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="Contact No." ng-model="user.studentContactNo" required>
					</div>
					<div class="list-group-item">
						<input type="text" class="form-control no-border" placeholder="ID number" ng-model="user.studentID" required>
					</div>
					<div class="list-group-item">
						<input type="text" class="controls form-control no-border" placeholder="Student no." ng-model="user.studentNo" required>
					</div>
					<div class="list-group-item">
						<input type="date" class="controls form-control no-border" placeholder="Date of birth" ng-model="user.studentDOB" required>
					</div>
					<div class="list-group-item">
						<input type="text" class="controls form-control no-border" placeholder="Gender M/F" ng-model="user.studentGender" required>
					</div>
					<div class="list-group-item">
						<input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
					</div>
					<div class="list-group-item">
						<input type="password" placeholder="Confirm password" class="form-control no-border" ng-model="user.repassword" required>
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label>Qualification Info</label>
					<div class="list-group-item">
						<input placeholder="Qualification Name" class="form-control no-border" ng-model="user.qualificationName" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Brief qualification description" class="form-control no-border" ng-model="user.qualificationDescr" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Qualification status (Completed/3rd Year etc.)" class="form-control no-border" ng-model="user.qualificationStatus" required>
					</div>
					<div class="list-group-item">
						<input placeholder="Qualification Category" class="form-control no-border" ng-model="user.qualificationCat" required>
					</div>
					<div class="list-group-item">
						<input type="text" placeholder="Graduation Year" class="form-control no-border" ng-model="user.gradYear" required>
					</div>
				</fieldset>
			</div>
			<div class="checkbox m-b-md m-t-none">
				<label class="i-checks">
					<input type="checkbox" ng-model="agree" required><i></i> Agree the <a href="#">terms and policy</a>
				</label>
			</div>
			<button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" ng-disabled='form.$invalid'>Sign up</button>
			<div class="line line-dashed"></div>
			<p class="text-center"><small>Already have an account?</small></p>
			<a ui-sref="access.signin" class="btn btn-lg btn-default btn-block" href="signIn">Sign in</a>
    <div><p>{{message}}</p></div>
    </form>
</div>
  




    <!--Script for changing between relevant forms-->
<script>
	$(function () {
		$("#Employerradio").click(function () {
			$("#Studentradio").prop("checked", false);
			$("#employerSUForm").show();
			$("#studentSUForm").hide();
		});
		$("#Studentradio").click(function () {
			$("#Employerradio").prop("checked", false);
			$("#studentSUForm").show();
			$("#employerSUForm").hide();
		});
	});
</script>


