<div ng-controller="postJob">
<form name="jobForm" class="form-validation" ng-submit="submitForm()">
    <div class="text-danger wrapper text-center">

    </div>

    <div id="postJobForm" class="list-group list-group-sm" >
            <br><br><br>
            <div class="list-group-item">
                <input type="text" class="form-control no-border" placeholder="Job Role" ng-model="job.post.role" required>
            </div>
            <br><br><br>
            <div class="list-group-item">
                <textarea rows=7 class="form-control no-border" placeholder="Description" ng-model="job.post.description" required></textarea>
            </div>
            <br><br><br>
            <div class="list-group-item">
                <input type="text" class="form-control no-border" placeholder="Location" ng-model="job.post.location" required>
            </div>
            <br><br><br>
            <label>Pay</label>
            <div class="list-group-item">
                <input  type="number" step="any" class="controls form-control no-border" width="50px" placeholder="Amount" ng-model="job.post.pay" required>
            </div>

        <div class="list-group-item">
            <select id="period" placeholder="Time Period" class="form-control no-border" ng-model="job.post.timePeriod" >
                <option value="Once Off">Once Off</option>
                <option value="Short Term">Short Term</option>
                <option value="Long Term">Long Term</option>
            </select>
            <br>
            Tips <input type="checkbox" name="tips" ng-model="job.post.tips">
        </div>

            <br><br><br>
            <div class="list-group-item">
                Start date: <input type="date" class="controls form-control no-border" placeholder="Starting Date" ng-model="job.post.startingDate" required>
            </div>

        <div id="endDateDiv" class="list-group-item" hidden="hidden">
            End date:<input id = "endDate" type="date" class="controls form-control no-border" placeholder="End Date" ng-model="job.post.endDate" >
        </div>
        <br><br>
        <div class="list-group-item">
            <input list="gender" placeholder="Gender" class="form-control no-border" ng-model="job.post.gender" required>
            <datalist id="gender">
                <option value="M">
                <option value="F">
            </datalist>
        </div>
        <br><br>
            <div class="list-group-item" id="times">
                Start time: <input type="time" placeholder="beginTime" class="form-control no-border" ng-model="job.post.hours.begin" required >
                Leaving time: <input type="time" placeholder="endTime" class="form-control no-border" ng-model="job.post.hours.end" required>
            </div>
            <br><br><br>
            <div class="list-group-item">
                <input list="category" placeholder="Category" class="form-control no-border" ng-model="job.post.category" required>
                <datalist id="category">
                    <option value="Coach">
                    <option value="Delivery Person">
                    <option value="Tutor">
                    <option value="Sales Rep">
                    <option value="Model">
                    <option value="Waiter(res)">
                    <option value="Other">
                </datalist>
            </div>
            <br><br><br>
        <div class="list-group-item">
            Requirements:<br>
            <button type="button" id="addReq" class="btn btn-default">+</button>

            <datalist id="requirements">
                <option value="Maths">
                <option value="AP Maths">
                <option value="English">
                <option value="Science">
                <option value="Afrikaans">
                <option value="Zulu">
                <option value="IT">
            </datalist>
            <datalist id="symbols">
                <option value="A">
                <option value="B">
                <option value="C">
                <option value="D">
                <option value="F">
            </datalist>
            <button type="button" class="removeReq" class="btn btn-default" hidden="hidden">x</button>
        </div>
        <br><br><br>
            <div class="list-group-item">
                <input  type="number" class="controls form-control no-border" width="50px" placeholder="Spots Available" ng-model="job.post.spotsAvailable" required>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" >Post Job</button>
    </div>
    <div><p>{{message}}</p></div>
    </form>
</div>

<script>

    var times = $("#times").html();

        //add end date if short term/long term
        $("#endDateDiv").hide();

        $("#period").change(function(e){

            if(this.value == "Once Off")
            {
                $("#endDateDiv").hide();
                $("#times").html(times);

            }
            else {
                $("#endDateDiv").show();
                $("#times").html('');
            }
        });

        var reqCount = 0;
        //add requirement
        $('#addReq').click(function(e){

            $('<div class="reqBox"><input list="requirements" placeholder="Requirement" class="form-control no-border" ng-model="job.post.requirements['+reqCount+'].name" required>' +
                    '<input list="symbols" placeholder="symbol" class="form-control no-border" ng-model="job.post.requirements['+reqCount+'].symbol" required> <button type="button" class="removeReq" class="btn btn-default">x</button></div>').insertBefore(this);
            reqCount++;

            $('.removeReq').click(function(e){

                $(this).parent.remove();
            });
        });





</script>