<div class="container w-xxl w-auto-xs s" ng-controller="postJob">
    <div class="wrapper text-center">
        <strong>Post a job</strong><br/>
    </div>

<form name="jobForm" class="list-group list-group-sm form-validation" ng-submit="submitForm()">
    <div class="text-danger wrapper text-center">

    </div>

    <h4 class="form-section-label">Job Details</h4>
    <div class="list-group list-group-sm form-group">
        <fieldset class="form-group">
            <div class="list-group-item">
                <input type="text" class="form-control no-border" placeholder="Job Role" ng-model="job.post.role" required>
            </div>
            <div class="list-group-item">
                <textarea rows=7 class="form-control no-border" placeholder="Description (100 - 500 characters)" ng-model="job.post.description" maxlength="500" minlength="100" required></textarea>
            </div>
            <div class="list-group-item">
                <input type="text" class="form-control no-border" placeholder="Location" ng-model="job.post.location" required>
            </div>
            <div class="list-group-item">
                <select class="form-control no-border" ng-model="job.post.category" required>
                    <option value="" selected disabled>Select Category</option>
                    <option value="Coach">Coach</option>
                    <option value="Delivery Person">Delivery Person</option>
                    <option value="Tutor">Tutor</option>
                    <option value="Promoter">Promoter</option>
                    <option value="Model">Model</option>
                    <option value="Waiter(res)">Waiter(res)</option>
                    <option value="Host(ess)">Host(ess)</option>
                    <option value="Barman">Barman</option>
                    <option value="Aupair">Aupair</option>
                    <option value="Retail Worker">Retail Worker</option>
                    <option value="Photographer / Videographer">Photographer / Videographer</option>
                    <option value="Programmer / Developer">Programmer / Developer</option>
                    <option value="Engineer">Engineer</option>
                    <option value="Assistant">Assistant</option>
                    <option value="Cook / Chef">Cook / Chef</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </fieldset>
    </div>

    <h4 class="form-section-label">Pay</h4>
    <div class="list-group list-group-sm form-group">
        <div class="list-group-item">
            <select id="period" class="form-control no-border" ng-model="job.post.timePeriod" required>
                <option value="" selected disabled>Time Period</option>
                <option value="Once Off">Once Off</option>
                <option value="Short Term">Short Term</option>
                <option value="Long Term">Long Term</option>
            </select>
            <br>
            <span>Tips</span> <input type="checkbox" name="tips" ng-model="job.post.tips">
        </div>
        <div class="list-group-item">
            <input id="amount"  type="number" step="any" class="controls form-control no-border" width="50px" placeholder="Amount" ng-model="job.post.pay" regex="^[0-9]+$" required>
        </div>
    </div>

    <h4 id="datesLabel" class="form-section-label">Dates</h4>
    <div class="list-group list-group-sm form-group">
        <div class="list-group-item">
            <input id="startDate" type="text" class="controls form-control no-border" placeholder="Starting Date" ng-model="job.post.startingDate" required>
        </div>
        <div id="endDateDiv" class="list-group-item" hidden="hidden">
            <input id="endDate" type="text" class="controls form-control no-border" placeholder="End Date" ng-model="job.post.endDate" >
        </div>
        <div class="list-group-item" id="times" hidden>

        </div>
    </div>

    <h4 class="form-section-label">Requirements</h4>
    <div class="list-group list-group-sm form-group">
        <div class="list-group-item">
            <select class="form-control no-border" id="stuGender" name="stuGender" ng-model="job.post.gender" required>
                <option value="" selected disabled>Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="Any">Any</option>
            </select>
        </div>
        <div id="reqGroup" class="list-group-item">

            <div id="reqInputs">

            </div>

            <div id="reqButtonGrp" class="btn-group-vertical" role="group">
                <button type="button" id="addReq" class="btn btn-default">Add requirement <span class="glyphicon glyphicon-plus"></span></button>
            </div>

        </div>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="job.post.driverslicence" value="">Drivers licence required</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="job.post.interviewRequired" value="">Interview required</label>
    </div>
    <br/>
    <h4 class="form-section-label">Thresholds</h4>
    <div class="list-group list-group-sm form-group">
        <div class="list-group-item">
            <input  type="number" class="controls form-control no-border" width="50px" placeholder="Positions available" ng-model="job.post.spotsAvailable" required>
        </div>
        <div class="list-group-item">
            <input  type="number" class="controls form-control no-border" width="50px" placeholder="Threshold" ng-model="job.post.threshold" required>
        </div>
    </div>

    <div id="postJobForm" class="list-group list-group-sm" >
        <button ng-if="!job.status" type="submit"  class="post-job-btn btn btn-lg btn-primary btn-block" >Post Job</button>
        <button ng-if="job.status == 'inactive'" type="submit"  class="post-job-btn btn btn-lg btn-primary btn-block" >RePost Job</button>
        <button ng-if="job.status == 'active'" type="submit"  class="post-job-btn btn btn-lg btn-primary btn-block" >Edit Job</button>
    </div>

    <div><p>{{message}}</p></div>
    </form>
</div>

<script>





    $('#startDate').datepicker({
        changeMonth: true,
        changeYear: true
    });
    $('#endDate').datepicker({
        changeMonth: true,
        changeYear: true
    });



</script>