.version.contact_us /* version checker */
{
	color: #0000F5;
	background-color: #DD6703;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-right: 1080px;
	padding-bottom: 438px;
	margin-left: auto;
	margin-right: auto;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1080px;
}

