<div><div ng-controller="employerApplicants" class="empApplicants">

    <div style="margin-top:42px;" ng-if="job.applications.length > 0" ng-repeat="job in jobs" class="jobApps">
        <div class="applicantsHead blueBack" ng-click="toggleApplicants(job._id)">
        <div class="appHeading">
            {{job.post.category}}
        </div>
            <div ng-if="job.post.interviewRequired" class="interviewReq">(Interview Required)
            </div>


            <div class="pull-right cheviBox">
                <span ng-if="job.show" class=" glyphicon glyphicon-chevron-up"></span>
                <span ng-if="!job.show" class=" glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>


        <div ng-if="job.show">
            <table class="table applicantsTables">
                <thead><th>Name</th><th class="tableAdd">Age</th><th class="tableAdd">Gender</th><th class="tableAdd">Rating</th><th class="tableAdd">Status</th><th></th>
                </thead>
                <tbody>
                <tr ng-repeat="app in job.applications" >

                    <td class="appName"><a href="/profile?user={{app.studentID._id}}">{{app.studentID.name.name + " "+ app.studentID.name.surname}}</a></td>
                    <td class="tableAdd">{{getAge(app.studentID.dob);}}</td>
                    <td class="tableAdd">{{app.studentID.gender}}</td>
                    <td class="tableAdd"><span ng-if="app.studentID.rating">{{app.studentID.rating}}</span><span ng-if="!app.studentID.rating">N/A</span></td>
                    <td class="tableAdd" ng-if="!isProv(app.status)" width="100" height="42"><div class="estatusDiv">
                        {{app.status}}
                        <span class="tableAdd"></span>
                        <div ng-if="isDeclined(app.status)" style="background-color: red" class="statusBall"></div>
                        <div ng-if="isPending(app.status)" style="background-color: orange" class="statusBall"></div>
                        <div ng-if="isConfirmed(app.status)" style="background-color: #286090" class="statusBall"></div>
                    </div>
                    </td>
                    <td ng-if="isProv(app.status)" width="200" height="42"><div class="estatusDiv">
                        {{app.status}}
                        <div style="background-color: lawngreen" class="statusBall"></div>
                    </div>
                    </td>
                    <td>

                       <button ng-if="app.status == 'Pending'" ng-click="makeOffer(app, job.post.category)" class="btn greenBack">Make Offer</button>
                        <a ng-if="app.status == 'Confirmed'" class="btn blueBack" href="mailto:{{app.studentID.contact.email}}?Subject=O-Link:{{job.post.category}}" target="_blank" >Contact</a>
                        <button ng-if="app.status == 'Pending'" class="btn btn-danger" ng-click="decline(app, job.post.category)">Decline</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>



</div>
</div>