<div><div ng-controller="employerApplicants">

    <div ng-if="job.applications.length > 0" ng-repeat="job in jobs" >
        <div class="applicantsHead" ng-click="toggleApplicants(job._id)">
        <div class="appHeading">
            {{job.post.role}}
        </div>
            <div ng-if="job.post.interviewRequired" class="interviewReq">(Interview Required)</div>
        </div>
        <div ng-if="job.show">
            <table class="table applicantsTable">
                <thead><th>Name</th><th>Age</th><th>Gender</th><th>Status</th>
                </thead>
                <tbody>
                <tr ng-repeat="app in job.applications">
                    <td><a href="/profile?user={{app.studentID._id}}">{{app.studentID.name.name + " "+ app.studentID.name.surname}}</a></td>
                    <td>{{getAge(app.studentID.dob);}}</td>
                    <td>{{app.studentID.gender}}</td>
                    <td><div  class="estatusDiv">
                        {{app.status}}
                        <div ng-if="isDeclined(app.status)" style="background-color: red" class="statusBall"></div>
                        <div ng-if="isPending(app.status)" style="background-color: orange" class="statusBall"></div>
                        <div ng-if="isConfirmed(app.status) || isProv(app.status)" style="background-color: lawngreen" class="statusBall"></div>
                    </div>
                    </td>

                    <td ng-if="isConfirmed(app.status) || isProv(app.status)"><button class="btn blueBack">Contact</button>
                        <button ng-if="!app.offered"class="btn blueBack" ng-click="offer(app._id, app.studentID._id, app.jobID._id, app.jobID.post.role)">Make Offer</button>
                        <button ng-if="app.offered == 'offered'" class="btn greenBack" disabled>{{app.offered}}</button>
                    </td>
                    <td ng-if="app.status == 'Pending'">
                        <button ng-if="!app.offered" class="btn greenBack" ng-click="makeOffer(app, job.post.role)">Make Offer</button>
                        <button ng-if="app.offered == 'offered'" class="btn greenBack" disabled>{{app.offered}}</button>
                        <button ng-if="!app.offered" class="btn btn-danger" ng-click="decline(app)">Decline</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>
</div>