<div><div ng-controller="employerApplicants">
    <table class="table">
        <thead><th>Name</th><th>Age</th><th>Gender</th><th>Job</th><th>Status</th>
        </thead>
        <tbody>
        <tr ng-repeat="app in applications">
            <td><a href="/profile?user={{app.studentID._id}}">{{app.studentID.name.name + " "+ app.studentID.name.surname}}</a></td>
            <td>{{getAge(app.studentID.dob);}}</td>
            <td>{{app.studentID.gender}}</td>
            <td>{{app.jobID.post.role}}</td>
            <td><div class="estatusDiv"> <select id="status" ng-disabled="isDisabled(app.status)" ng-change='changeStatus(app,"{{app.status}}")' ng-model=app.status>
                <option value="Declined">Declined</option>
                <option value="Pending">Pending</option>
                <option value="Provisionally accepted">Provisionally accepted</option>
                <option value="Confirmed">Confirmed</option>
            </select>
                <div ng-if="isDeclined(app.status)" style="background-color: red" class="statusBall"></div>
                <div ng-if="isPending(app.status)" style="background-color: orange" class="statusBall"></div>
                <div ng-if="isConfirmed(app.status) || isProv(app.status)" style="background-color: lawngreen" class="statusBall"></div>
            </div>
            </td>
            <td ng-if="isConfirmed(app.status) || isProv(app.status)"><button class="btn btn-primary">Contact</button><button class="btn btn-primary">Make Offer</button> </td>
        </tr>
        </tbody>
    </table>
</div>
</div>