<div ng-controller="buy" class="buye">
    <div class="row">
        <div class="col-md-4 text-center" ng-repeat="package in packages" >
    <a class="buyBox blueBack" ng-click="goPay(package.name)">
        <div class="buyTop">{{package.name.toUpperCase()}}</div>
        <div class="buyInner">
            <div class="cost blueText">
                R {{package.cost}}
            </div>
            <div class="timeFrame">
               {{package.timeframe}}
            </div>
            <div class="package">
               {{package.description}}
            </div>
        </div>

            <span class="cart glyphicon glyphicon-shopping-cart"></span>

    </a>
        </div>

    </div>
</div>