<div class="signupBox container w-xxl w-auto-xs s" ng-controller="confirmPayment">
  <img ng-click="gotoPayment()" src="https://www.payfast.co.za/images/buttons/buynow_basic_logo.gif" width="95" height="57" alt="Buy" title="Buy Now with PayFast" />
  <!--<a href="{{url}}" id="gotoPayFast" hidden></a>-->

  <!--HIERDIE EEN WERK-->
  <a href="https://sandbox.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=paulontong%40me.com&amp;item_name=Talent+Basic&amp;item_description=R29+for+3+further+applications%2C+valid+for+one+week.&amp;amount=29.00&amp;return_url=http%3A%2F%2F154.66.197.62%3A8080%2FpaymentSuccessful%3FpaymentToken%3Dsha1%242f29dec7%241%2483d0ba9926042b013b65e81f512c81f547764ac1&amp;cancel_url=http%3A%2F%2F154.66.197.62%3A8080%2FpaymentCanceled"  >Working Link</a>
</div>