
    <div ng-controller="myJobFeed">
        <table class="table">
            <thead><th>Category</th><th>Position</th><th>Number of Applicants</th>
            </thead>
            <tbody>
            <tr ng-repeat="job in jobs">
                <td>{{job.post.category}}</td>
                <td>{{job.post.role}}</td>
                <td>{{job.applicants.length}}</a></td>
                <td><a class="btn btn-primary" href="/applicants?jobID={{job._id}}">Assess Applicants</a></td>
            </tr>
            </tbody>
        </table>
    </div>
