<div ng-controller="employmentHistory">
<div style="margin-top: 42px;" >
    <table class="table tab applicantsTable">

    <thead class="blueBack talentHistoryHead"><th>Talent</th></th><th class="tableAdd">Category</th><th>Date</th>
    </thead>
    <tbody>
    <tr ng-repeat="app in applications track by $index">
        <td>{{app.studentID.name.name + " " + app.studentID.name.surname}}</td>
        <td class="tableAdd"><a href="/job?id={{app.jobID._id}}">{{app.jobID.post.category}}</a></td>
        <td ng-if="app.jobID.post.startingDate">{{app.jobID.post.startingDate}}</td>

    </tr>
    </tbody>

</table>
</div>
   <div style="margin-left: 42px">{{message}}</div>
</div>