
    <div ng-controller="myJobFeed">
        <table style="margin-top: 42px;" class="table applicantsTable blueBorder">
            <thead class="talentHistoryHead blueBack"><th>Category</th><th>Number of Applicants</th><th></th><th></th>
            </thead>
            <tbody>

            <tr ng-repeat="job in jobs">

                <td>{{job.post.category}}</td>

                <td>{{job.applicants.length}}</td>

                <td>

                    <a  ng-if="job.applicants.length > 0"  href="/applicants?jobID={{job._id}}">Assess Applicants</a>
                    <span ng-if="!job.applicants || job.applicants.length <= 0">No Applicants Yet</span>
                </td>
                <td><a class="btn blueBack" href="/job?id={{job._id}}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
