<ul class="nav navbar-nav navbar-right" ng-controller="employerNav">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.contact.name}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">User Profile </a></li>
            <li><a href="#">Applicants</a></li>
            <li><a href="#">My Job Posts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logOut()">Log Out</a></li>
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#">Notifications</a></li>
</ul>