
    <div ng-controller="myJobFeed">
        <div style="margin-top: 42px;" class="applicantsTable blueBack">
        <table class="table tab">
            <thead  class="talentHistoryHead blueBack"><th>Category</th><th>Start Date</th><th><span class="hash"># </span><span>Number of Applicants</span></th><th style="width:auto;"></th><th class="tableAdd"></th>
            </thead>
            <tbody style="color: #00000A">

            <tr ng-repeat="job in jobs" ng-mouseleave="unhighlightChildren($event)" ng-mouseover="highlightChildren($event)" style="cursor: pointer;">

                <td ng-click="getJob(app.jobID._id)" ng-if="job.post.category != 'Other'">{{job.post.category}}</td>
                <td ng-click="getJob(app.jobID._id)" ng-if="job.post.category == 'Other'">{{job.post.OtherCategory}}</td>

                <td ng-click="getJob(app.jobID._id)">{{job.post.startingDate}}</td>
                <td ng-click="getJob(app.jobID._id)">{{job.applicants.length}}</td>

                <td><a class="btn blueBack" href="/job?id={{job._id}}">View Job</a>
                    <a class="btn blueBack"  ng-if="job.applicants.length > 0"  href="/applicants?jobID={{job._id}}">Assess Applicants</a>
                    <a class="btn blueBack"  href="/postJob?id={{job._id}}">Edit Job</a>
                </td>
                <td ng-click="getJob(app.jobID._id)" style="width: 100%; height: 49px;" class="tableAdd"></td>




            </tr>
            </tbody>
        </table>
        </div>
    </div>
