

<!-- content -->
<div id="content">
    <div class="app-content-body text-center" ng-controller = 'employerProfileControl'>




        <div class="row">

            <div class="col-md-6 text-right">
            <div class="empProfileRating">
                <div ng-if="user.rating" class="numberRating">
                    {{user.rating}}

                </div>
                <div class="text-center">
                <span ng-if="user.rating" class="small">From {{user.numRatings}} review(s)</span>
                <div ng-if="!user.rating" class="numberRating">
                    N/A
                </div>
                <span ng-if="!user.rating" class="small">From 0 review(s)</span>
                </div>
                <div>
                    <fieldset class="profileStars">
                        <input type="radio" id="star5" name="rating" value=5 ng-model="user.rating"  disabled/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value=4.5 ng-model="user.rating" disabled/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value=4 ng-model="user.rating" disabled/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value=3.5 ng-model="user.rating" disabled/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value=3 ng-model="user.rating" disabled/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value=2.5 ng-model="user.rating" disabled /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value=2 ng-model="user.rating" disabled/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value=1 ng-model="user.rating" disabled/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value=1.5 ng-model="user.rating" disabled/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value=0.5 ng-model="user.rating" disabled><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset></div>
                </div>
        </div>
            <div class="col-md-6 text-left">
                <div class="openOffers text-center">

                <div class="numberRat">
                    {{offers}}

                </div>
                <span class="small">Open offer(s)</span>
            </div>
            </div>
            </div>
<div class="text-center" ng-if="user.employerType == 'Company'">
            <div ng-if="user.employerType = 'Company'" class="row text-center ">
                <div class=" profileBox col-md-6" ">
            <div class="panel blueBorder cards" >
                <div master class="card-header blueBack">
                    <h4 class="font-thin m-t-none m-b-none ">Info</h4>
                </div>

                <div class="wrapper">
                    <div class="studies">
                        <h4 class="m-t-xs m-b-xs">Company</h4>
                        <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Company Name</div>
                                    <small class="text-muted">{{user.company.name}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Company Description</div>
                                    <small class="text-muted">{{user.company.description}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Location</div>
                                    <small class="text-muted">{{user.company.location.address}}</small>
                                </div>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
                    </div>
                <div class="profileBox col-md-6">
            <div class="panel center-col greenBorder cards" id="contact">
                <div ng-style="style" class="card-header greenBack">
                    <h4 class="font-thin m-t-none m-b-none ">Contact</h4>
                </div>
                <div class="cards">



                    <ul class="list-group no-bg no-borders pull-in">
                        <li class="list-group-item">
                            <div class="clear">
                                <div>Name</div>
                                <small class="text-muted">{{user.contact.name}} {{user.contact.surname}}</small>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="user.employerType == 'Company'">
                            <div class="clear">
                                <div>Position in company</div>
                                <small class="text-muted">{{user.company.position}}</small>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clear">
                                <div>Contact Number</div>
                                <small class="text-muted">{{user.contact.contactNo}}</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clear">
                                <div>Email</div>
                                <small class="text-muted">{{user.contact.email}}</small>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
    </div>
</div>
            </div>
    <div ng-if="user.employerType == 'Individual'" class="row text-center">
        <div class="col-md-3"></div>
        <div  class=" profileBox col-md-6">
            <div class="panel  greenBorder cards" id="contact">
                <div ng-style="style" class="card-header greenBack">
                    <h4 class="font-thin m-t-none m-b-none ">Contact</h4>
                </div>
                <div class="cards">



                    <ul class="list-group no-bg no-borders pull-in">
                        <li class="list-group-item">
                            <div class="clear">
                                <div>Name</div>
                                <small class="text-muted">{{user.contact.name}} {{user.contact.surname}}</small>
                            </div>
                        </li>
                        <li class="list-group-item" ng-if="user.employerType == 'Company'">
                            <div class="clear">
                                <div>Position in company</div>
                                <small class="text-muted">{{user.company.position}}</small>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clear">
                                <div>Contact Number</div>
                                <small class="text-muted">{{user.contact.contactNo}}</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clear">
                                <div>Email</div>
                                <small class="text-muted">{{user.contact.email}}</small>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
        <a ng-if="myProfile" class="btn employerButton btn-xlarge" href="/editProfile">Edit</a>

    </div></div>