<!-- navbar header -->
<div ng-controller="navControl">


<nav class="navbar transparent navbar-default" >
    <div class="container-fluid nav-container">
        <div class="header-text center" >

            <h2 class="navbar-text navbar-left">
                <p ng-if="slogan"  class="navbar-slog">{{slog1}} {{slog2}}</p>
                <p ng-if="welcoming" class="navbar-txt">{{welcome}}
                    <span class='green'>{{employer}}</span>
                    <span class='blue'>{{talent}}</span>
                </p>
                <p ng-if="studentProfile" class="profileHeader">{{cache.name.name + " " + cache.name.surname}}</p>
                <p ng-if="studentProfile && !individualProfile && !companyProfile" class="appCount muted">2 applications left</p>
                <p ng-if="individualProfile" class="profileHeader">{{cache.contact.name + " " + cache.contact.surname}}</p>
                <p ng-if="companyProfile" class="profileHeader">{{cache.company.name}}</p>
                <p ng-if="companyProfile" class="appCount">{{cache.contact.name + " " + cache.contact.surname}}</p>
                <p ng-if="browse" class="profileHeader">Open Job Offers</p>
                <p ng-if="jobHistory" class="profileHeader">Job History</p>
                <p ng-if="myApplications" class="profileHeader">My Applications</p>
                <p ng-if="myApplicants" class="profileHeader">My Applicants</p>
                <p ng-if="myJobs" class="profileHeader">My Job Offers</p>
                <p ng-if="myJobHistory" class="profileHeader">My Post History</p>
            </h2>


        </div>


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" ng-controller="logoClick">

            <img ng-click="toDash()" class="animated pulse banner-logo" src="/logo/Logo_big.png">

        </div>







        <ul class="nav navbar-nav navbar-right">

            <li data-ng-include="getNav()" ></li>
            <li ng-if="loggedIn" data-ng-include="'views/blocks/notifications.html'" ng-controller="notifications"></li>
            <li><a href="/myProfile"><img  ng-src="data:image/png;base64,{{image}}"  class="animated pulse img-circle banner-pp"></a></li>
        </ul>

        </div><!-- /.navbar-collapse -->
   <!-- /.container-fluid -->
</nav>
</div>
