<!-- navbar header -->
<div class="header-text center" ng-controller="navControl">
    <h2 class="navbar-text navbar-left">
        <p  class="navbar-slog">{{slog1}} {{slog2}}</p>
        <p  class="navbar-txt">{{welcome}}
            <span class='green'>{{employer}}</span>
            <span class='blue'>{{talent}}</span>
        </p>
    </h2>
</div>

<nav class="navbar transparent navbar-default" >
    <div class="container-fluid nav-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" ng-controller="logoClick">

            <img ng-click="toDash()" class="banner-logo" src="/logo/Logo_big.png">

        </div>



        <div data-ng-include="getNav()" ng-controller="navControl">

        </div>
        </div><!-- /.navbar-collapse -->
   <!-- /.container-fluid -->
</nav>

