

<!-- content -->
<div id="content">
    <div class="app-content-body" ng-controller = 'studentProfileControl'>


        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <div style="background:url(img/c4.jpg) center center; background-size:cover">
                    <div class="wrapper-lg bg-white-opacity">
                        <div class="row m-t">
                            <div class="col-sm-7">
                                <a href class="thumb-lg pull-left m-r">
                                    <img ng-src="data:image/png;base64,{{image}}" class="img-circle">
                                </a>
                                <div class="clear m-b">
                                    <div class="m-b m-t-sm">
                                        <span class="h3 text-black">{{user.name.name + " " + user.name.surname}}</span>
                                        <small class="m-l">{{user.location}}</small>
                                    </div>
                                    <p class="m-b">
                                        Star rating goes here<br>
                                        from # reviews
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="pull-right pull-none-xs text-center">
                                    <a href class="m-b-md inline m">
                                        <span class="h3 block font-bold">2</span>
                                        <small>Jobs Completed</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a id = "editLink" href="/editProfile" hidden>Edit Profile</a>
                    </div>

                </div>


            </div>
            <div class="wrapper bg-white b-b">
                <ul class="nav nav-pills nav-sm">
                    <li class="active"><a data-toggle="pill" href data-target="#info">Info</a></li>
                    <li><a data-toggle="pill" href  data-target="#qualification">Skills</a></li>
                    <li><a data-toggle="pill" href data-target="#results">Matric Results</a></li>
                    <li><a data-toggle="pill" href data-target="#jobHistory">Job History</a></li>
                </ul>
            </div>
            <div class="tab-content">
            <div class="tab-pane fade in active" id="info">
                <div class="wrapper">
                    <div class="">
                        <h4 class="m-t-xs m-b-xs">Basic</h4>
                        <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Contact Number</div>
                                    <small class="text-muted">{{user.contact.contactNo}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Email</div>
                                    <small class="text-muted">{{user.contact.email}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Gender</div>
                                    <small class="text-muted">{{user.gender}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>ID Number</div>
                                    <small class="text-muted">{{user.IDnumber}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Date Of Birth</div>
                                    <small class="text-muted">{{user.dob}}</small>
                                </div>
                            </li>


                        </ul>
                    </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="qualification">
                    <div class="wrapper">
                        <div class="">
                            <h4 class="m-t-xs m-b-xs">Academia</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Category</div>
                                        <small class="text-muted">{{user.qualification.category}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Qualification Name</div>
                                        <small class="text-muted">{{user.qualification.name}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Qualification Description</div>
                                        <small class="text-muted">{{user.qualification.description}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Graduation Year</div>
                                        <small class="text-muted">{{user.qualification.gradYear}}</small>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="results">
                    <div class="wrapper">
                        <div class="">

                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item" ng-repeat="res in user.results">
                                    <div class="clear">
                                        <div>{{res.name}}</div>
                                        <small class="text-muted">{{res.result}}</small>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                </div>
                    <div class="panel b-a">
                        <h4 class="font-thin padder">Latest Reviews</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                            </li>
                            <li class="list-group-item">
                                <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                            </li>
                            <li class="list-group-item">
                                <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                                <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                            </li>
                        </ul>
                    </div>
                    <div class="panel b-light clearfix">
                        <div class="panel-body">
                            <a href class="thumb pull-left m-r">
                                <img src="img/a0.jpg" class="img-circle">
                            </a>
                            <div class="clear">
                                <a href class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                                <small class="block text-muted">2,415 followers / 225 tweets</small>
                                <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
                            </div>
                        </div>
                    </div>
                </div>


</div>
    </div>