<div ng-controller="studentApplications"><table style="margin-top: 42px;" class="table applicantsTable blueBorder">
    <thead class="talentHistoryHead blueBack"><th>Category</th><th>Pay</th><th>Location</th><th>Status</th><th></th>
    </thead>
    <tbody>
    <tr ng-repeat="app in applications">
        <td><a href="/job?id={{app.jobID._id}}">{{app.jobID.post.category}}</a></td>
        <td>R{{app.jobID.post.pay }}
            <span ng-if="job.post.timePeriod == 'Once Off'">/Once Off</span>
            <span ng-if="!job.post.timePeriod == 'Once Off'">/Hour</span></td>
        <td>{{app.jobID.post.location}}</td>
        <td><div class="statusDiv"><span>{{app.status}}</span>
            <div ng-if="isDeclined(app.status)" style="background-color: red" class="statusBall"></div>
            <div ng-if="isPending(app.status)" style="background-color: orange" class="statusBall"></div>
            <div ng-if="isProv(app.status)" style="background-color: lawngreen" class="statusBall"></div>
            <div ng-if="isConfirmed(app.status)" style="background-color: #286090" class="statusBall"></div>


        </div></td>
        <td class="appBtns">
        <span ng-if="app.status == 'Provisionally accepted' && !app.edited" class="transparent"><button class="btn greenBack" ng-click="accept(app._id, app.employerID,app.jobID._id, app.jobID.post.role )">Accept</button></span>
        <span ng-if="app.offered == 'accepted' && !app.edited"><a class="btn blueBack" ng-click="contect()" href="mailto:{{app.employerID.contact.email}}?Subject=O-Link:{{app.jobID.post.role}}" target="_blank">Contact</a></span>
        <span ng-if="app.edited && app.status != 'Declined'"><button class="btn greenBack" ng-click="acceptChanges(app._id)" >Accept Changes</button></span>
        <span ng-if="(app.status == 'Provisionally accepted') || (app.edited && app.status != 'Declined')"><button class="btn btn-danger" ng-click="decline(app)">Withdraw</button></span>

        </td>
    </tr>
    </tbody>

</table>
    <div style="margin-left: 42px">{{message}}</div>
</div>