

<!-- content -->
<div id="content">
    <div class="app-content-body" ng-controller = 'studentProfileControl'>


        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <div style="background:url(img/c4.jpg) center center; background-size:cover">
                    <div class="wrapper-lg bg-white-opacity">
                        <div class="row m-t">
                            <div class="col-sm-7">
                                <a href class="thumb-lg pull-left m-r">
                                    <img ng-src="data:image/png;base64,{{image}}" class="img-circle">
                                </a>
                                <div class="clear m-b">
                                    <div class="m-b m-t-sm">
                                        <span class="h3 text-black">{{user.name.name + " " + user.name.surname}}</span>
                                        <small class="m-l">{{user.location}}</small>
                                    </div>
                                    <p class="m-b">
                                        Star rating goes here<br>
                                        from # reviews
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="pull-right pull-none-xs text-center">
                                    <a href class="m-b-md inline m">
                                        <span class="h3 block font-bold">2</span>
                                        <small>Jobs Completed</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a id = "editLink" href="/editProfile" hidden>Edit Profile</a>
                    </div>

                </div>


            </div>
            <div class="wrapper bg-white b-b">
                <ul class="nav nav-pills nav-sm">
                    <li class="active"><a data-toggle="pill" href data-target="#info">Info</a></li>
                    <li><a data-toggle="pill" href  data-target="#qualification">Skills</a></li>
                    <li><a data-toggle="pill" href data-target="#results">Matric Results</a></li>
                    <li><a data-toggle="pill" href data-target="#applications">Applications</a></li>
                    <li><a data-toggle="pill" href data-target="#jobHistory">Job History</a></li>
                </ul>
            </div>
            <div class="tab-content">
            <div class="tab-pane fade in active" id="info">
                <div class="wrapper">
                    <div class="">
                        <h4 class="m-t-xs m-b-xs">Basic</h4>
                        <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Contact Number</div>
                                    <small class="text-muted">{{user.contact.contactNo}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Email</div>
                                    <small class="text-muted">{{user.contact.email}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Gender</div>
                                    <small class="text-muted">{{user.gender}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>ID Number</div>
                                    <small class="text-muted">{{user.IDnumber}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Date Of Birth</div>
                                    <small class="text-muted">{{user.dob}}</small>
                                </div>
                            </li>


                        </ul>
                    </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="qualification">
                    <div class="wrapper">
                        <div class="">
                            <h4 class="m-t-xs m-b-xs">Academia</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Category</div>
                                        <small class="text-muted">{{user.qualification.category}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Qualification Name</div>
                                        <small class="text-muted">{{user.qualification.name}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Qualification Description</div>
                                        <small class="text-muted">{{user.qualification.description}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Graduation Year</div>
                                        <small class="text-muted">{{user.qualification.gradYear}}</small>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="results">
                    <div class="wrapper">
                        <div class="">

                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item" ng-repeat="res in user.results">
                                    <div class="clear">
                                        <div>{{res.name}}</div>
                                        <small class="text-muted">{{res.result}}</small>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="applications">
                    <div class="wrapper">
                        <div class="" ng-controller="myApplications">

                            <table class="table">
                                <thead><th>Role</th><th>Pay</th><th>Location</th><th>Status</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="app in applications">
                                    <td>{{app.jobID.post.role}}</td>
                                    <td>R{{app.jobID.post.pay + "/" + app.jobID.payPer}}</td>
                                    <td>{{app.jobID.post.location}}</td>
                                    <td>{{app.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                </div>


</div>
</div>
    </div>