

<!-- content -->
<div id="content">
    <div class="app-content-body text-center" ng-controller = 'studentProfileControl'>


        <div class="profileRating">
            <div ng-if="user.rating" class="numberRating">
                {{user.rating}}

            </div>
            <span ng-if="user.rating" class="small">From {{user.numRatings}} review(s)</span>
            <div ng-if="!user.rating" class="numberRating">
                N/A
            </div>
            <span ng-if="!user.rating" class="small">From 0 review(s)</span>
            <div>
            <fieldset class="profileStars">
                <input type="radio" id="star5" name="rating" value=5 ng-model="user.rating"  disabled/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value=4.5 ng-model="user.rating" disabled/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value=4 ng-model="user.rating" disabled/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value=3.5 ng-model="user.rating" disabled/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value=3 ng-model="user.rating" disabled/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value=2.5 ng-model="user.rating" disabled /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value=2 ng-model="user.rating" disabled/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value=1 ng-model="user.rating" disabled/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value=1.5 ng-model="user.rating" disabled/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value=0.5 ng-model="user.rating" disabled><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset></div>
        </div>
        <div class="hbox hbox-auto-xs hbox-auto-sm">




            <div class="profileBox col-md-6">
            <div master   class="panel blueBorder cards" id="info">
                <div class="card-header blueBack">
                    <h4 class="font-thin m-t-none m-b-none ">Required Info</h4>
                </div>
                <div class="wrapper cards" style="margin:30px">



                        <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Contact Number</div>
                                    <small class="text-muted">{{user.contact.contactNo}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Email</div>
                                    <small class="text-muted">{{user.contact.email}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Gender</div>
                                    <small class="text-muted">{{user.gender}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>ID Number</div>
                                    <small class="text-muted">{{user.IDnumber}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>Date Of Birth</div>
                                    <small class="text-muted">{{user.dob}}</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="clear">
                                    <div>About</div>
                                    <small class="text-muted">{{user.aboutme}}</small>
                                </div>
                            </li>


                        </ul>
                    </div>
            </div>
            </div>

            <div  class="profileBox col-md-6">
            <div  ng-style="style"  class="panel greenBorder cards " id="additional">
            <div class="card-header greenBack">
                    <h4 class="font-thin m-t-none m-b-none ">Additional Info</h4>
                </div>

                    <div class="wrapper">
                        <div class="studies" ng-if="user.qualification">
                            <h4 class="m-t-xs m-b-xs">Academia</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Institution Type</div>
                                        <small class="text-muted">{{user.institution.type}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="clear">
                                        <div>Institution Name</div>
                                        <small class="text-muted">{{user.institution.name}}</small>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-if="user.qualification.name">
                                    <div class="clear">
                                        <div>Qualification Name</div>
                                        <small class="text-muted">{{user.qualification.name}}</small>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="matric" ng-if="user.results.length > 0">
                            <h4 class="m-t-xs m-b-xs">Matric results</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li  class="list-group-item">
                                    <div class="clear">
                                        <small class="text-muted" ng-repeat="res in user.results">{{res.name + " "+res.symbol}}<br></small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="expr" ng-if="user.work.length > 0">
                            <h4 class="m-t-xs m-b-xs">Work Experience</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item" ng-repeat="work in user.work">
                                <div class="clear">
                                    <div>{{work.category}}</div>
                                    <small class="text-muted">{{work.duration}}<br></small>
                                    <small class="text-muted">{{work.contact.name}}<br></small>
                                    <small class="text-muted">{{work.contact.email}}<br></small>
                                    <small class="text-muted">{{work.contact.number}}</small>
                                </div>
                            </li>
                                </ul>
                        </div>
                    </div>

                </div>

            </div>
            </div>

        <a ng-if="myProfile" class="btn employerButton btn-xlarge" href="/editProfile">Edit</a>


</div>
</div>
