.p
{
	font-family: '__Montserrat_5';
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.H1,.H2
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Body
{
	font-family: arimo-n4, sans-serif;
}

#u28848-4,#u28850-4
{
	font-family: '__FontAwesome_5';
}

#u28849-8,#u28851-8
{
	font-family: open-sans-n3, sans-serif;
}


