#u27376
{
	background-color: #FFFFFF;
}

#u28846
{
	border-color: #000000;
	background: #000000 url("../../images/footer_lodyas.jpg") repeat center center;
}

#u28847
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}

#u28849-8
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u28849-2
{
	color: #FFFFFF;
}

#u28849-4
{
	padding-top: 10px;
}

#u28848-4,#u28850-4
{
	border-width: 0px;
	background-color: #FFFFFF;
	border-radius: 50px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #33B7CC;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u28851-8
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 14px;
	font-family: open-sans, sans-serif;
}

#u28851-2
{
	color: #FFFFFF;
	font-weight: 400;
}

#u28851-4
{
	padding-top: 10px;
	font-weight: 300;
}

#u28851-6
{
	font-weight: 300;
}

#u28852
{
	background-color: #333333;
}

#u28853-6
{
	background-color: transparent;
	text-align: center;
}


