#u18600
{
	border-color: #000000;
	background: #000000 url("../../images/footer_lodyas.jpg") repeat center center;
}

#u18601
{
	border-color: #000000;
	background-color: #13B488;
}

#u29036-7
{
	background-color: transparent;
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u29036-2,#u29036-3
{
	line-height: 9px;
}

#u29036-5
{
	line-height: 24px;
}

#u29039
{
	background-color: transparent;
}

#u29049
{
	background-color: #ECECEC;
	background-color: rgba(188,188,188,0.28);
	-pie-background: rgba(188,188,188,0.28);
}

#u30713-4
{
	background-color: transparent;
	line-height: 15px;
	font-size: 11px;
	color: #737C7C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u30713
{
	color: #33B7CC;
	font-family: '__FontAwesome_5';
	font-weight: 700;
}

#u18594-8
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	font-size: 11px;
	color: #737C7C;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u30716-4
{
	background-color: transparent;
	line-height: 15px;
	font-size: 11px;
	color: #767471;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u30716
{
	color: #33B7CC;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u18592-8
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u18592-3
{
	color: #767471;
}

#u18602
{
	background-color: #333333;
}

#u18603-9
{
	background-color: transparent;
	line-height: 8px;
	text-align: center;
	font-size: 6px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u18603-5
{
	padding-bottom: 1px;
	color: #FFFFFF;
}

#u18603-3
{
	text-decoration: underline;
}


