<html>
<body>

    <div style='padding: 21px; background-color: #efefef; width: 100%; text-align: center; font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased;'>
        <div style="box-shadow: 0 0 18px black; text-align: left; background-color: white; display:inline-block; border: 3px solid #33B6CC; border-radius:55px;width: 842px;">
            <div style=" padding-left:42px; padding-right:42px;  padding-top:42px;">
{{{body}}}
    </div>
            {{>footer}}
</div>
</div>



</body>
</html>