<html>
<body>
<div style='background-color: white; width: 100%; text-align: center; font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased;'>
    <div style="text-align: left; background-color: #f7f7f7; border: 3px solid #33B6CC; border-radius:45px; margin:32px;  width: 842px;">

        <div style=" padding:42px;">
{{{body}}}
    </div>
{{>footer}}
</div>
</div>
</div>
</body>
</html>