/*

*/

.version.work_single /* version checker */
{
	color: #000010;
	background-color: #C52973;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 630px;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F4F4F4;
}

#page_position_content
{
	margin-top: -472px;
	width: 0.01px;/* should not cover content below */
}

#pu20161
{
	width: 0.01px;
	padding-bottom: 542px;
}

#u20161
{
	z-index: 112;
	height: 70px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u20161-bw
{
	z-index: 112;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u20162
{
	z-index: 113;
	width: 171px;
	position: fixed;
	top: 15px;
	left: 90px;
}

#u20163-6
{
	z-index: 114;
	width: 171px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
}

#u20164-5
{
	z-index: 120;
	width: 164px;
	min-height: 22px;
	position: fixed;
	top: 12px;
	left: 390px;
}

#u20165-7
{
	z-index: 125;
	width: 210px;
	min-height: 22px;
	position: fixed;
	top: 37px;
	left: 390px;
}

#u20164-3,#u20165-5
{
	padding-left: 21px;
}

#u20164-3.rtl-list,#u20165-5.rtl-list
{
	padding-left: 0px;
	padding-right: 21px;
}

#buttonu20148
{
	z-index: 132;
	width: 70px;
	padding-bottom: 26px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#buttonu20148.ButtonSelected
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u20157
{
	z-index: 133;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 23px;
}

#u20158
{
	z-index: 134;
	width: 25px;
	height: 4px;
	position: relative;
}

#u20160
{
	z-index: 135;
	width: 25px;
	height: 4px;
	margin-top: 3px;
	position: relative;
}

#u20159
{
	z-index: 136;
	width: 25px;
	height: 4px;
	margin-top: 3px;
	position: relative;
}

#buttonu19971
{
	z-index: 137;
	width: 601px;
	position: fixed;
	top: -472px;
	left: 0px;
	padding: 41px 16px 57.14999999999958px 18px;
}

#buttonu19971.ButtonSelected
{
	width: 601px;
	min-height: 0px;
	margin: 0px;
}

#u20103
{
	z-index: 175;
	width: 187px;
	margin-left: 203px;
	position: relative;
}

#u20104-6
{
	z-index: 176;
	width: 187px;
	min-height: 127px;
	position: relative;
	margin-right: -10000px;
}

#menuu20060
{
	z-index: 138;
	width: 601px;
	margin-top: 30px;
	position: relative;
}

#u20068
{
	width: 79px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
}

#u20071
{
	width: 79px;
	padding-bottom: 58px;
	position: relative;
}

#u20071.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u20073-4
{
	width: 57px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 11px;
}

#u20071.MuseMenuActive #u20073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u20096
{
	width: 111px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u20099
{
	width: 111px;
	padding-bottom: 58px;
	position: relative;
}

#u20099.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u20101-4
{
	width: 90px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 10px;
}

#u20099.MuseMenuActive #u20101-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u20075
{
	width: 101px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u20078
{
	width: 101px;
	padding-bottom: 58px;
	position: relative;
}

#u20078.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u20080-4
{
	width: 80px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 10px;
}

#u20078.MuseMenuActive #u20080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u20061
{
	width: 71px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u20064
{
	width: 71px;
	padding-bottom: 58px;
	position: relative;
}

#u20064.MuseMenuActive
{
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u20066-4
{
	width: 50px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 10px;
}

#u20064.MuseMenuActive #u20066-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u20082
{
	width: 118px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	left: 382px;
}

#u20083
{
	width: 118px;
	padding-bottom: 58px;
	position: relative;
}

#u20083.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u20085-4
{
	width: 97px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 10px;
}

#u20083.MuseMenuActive #u20085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u20089
{
	width: 96px;
	min-height: 80px;
	position: relative;
	margin-right: -10000px;
	left: 505px;
}

#u20092
{
	width: 96px;
	padding-bottom: 58px;
	position: relative;
}

#u20092.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u20094-4
{
	width: 75px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 29px;
	left: 10px;
}

#u20092.MuseMenuActive #u20094-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u20105
{
	z-index: 182;
	width: 450px;
	margin-left: 72px;
	margin-top: 30px;
	position: relative;
}

#buttonu20106
{
	z-index: 207;
	width: 30px;
	position: relative;
	margin-right: -10000px;
}

#u20108-4
{
	z-index: 208;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20107
{
	z-index: 212;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20106:hover #u20107
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20142
{
	z-index: 183;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u20143-4
{
	z-index: 184;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20144
{
	z-index: 188;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20142:hover #u20144
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20136
{
	z-index: 231;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u20138-4
{
	z-index: 232;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20137
{
	z-index: 236;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20136:hover #u20137
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20133
{
	z-index: 189;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#u20135-4
{
	z-index: 190;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20134
{
	z-index: 194;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20133:hover #u20134
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20118
{
	z-index: 213;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u20119-4
{
	z-index: 214;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20120
{
	z-index: 218;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20118:hover #u20120
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20109
{
	z-index: 237;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u20110-4
{
	z-index: 238;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20111
{
	z-index: 242;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20109:hover #u20111
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20130
{
	z-index: 195;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u20131-4
{
	z-index: 196;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20132
{
	z-index: 200;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20130:hover #u20132
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20124
{
	z-index: 219;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u20125-4
{
	z-index: 220;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20126
{
	z-index: 224;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20124:hover #u20126
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20139
{
	z-index: 249;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u20140-4
{
	z-index: 250;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20141
{
	z-index: 254;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20139:hover #u20141
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20121
{
	z-index: 243;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u20122-4
{
	z-index: 244;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20123
{
	z-index: 248;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20121:hover #u20123
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20115
{
	z-index: 201;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u20116-4
{
	z-index: 202;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20117
{
	z-index: 206;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20115:hover #u20117
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20127
{
	z-index: 225;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u20128-4
{
	z-index: 226;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#u20129
{
	z-index: 230;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20127:hover #u20129
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20112
{
	z-index: 255;
	width: 30px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#buttonu20106.ButtonSelected,#buttonu20142.ButtonSelected,#buttonu20136.ButtonSelected,#buttonu20133.ButtonSelected,#buttonu20118.ButtonSelected,#buttonu20109.ButtonSelected,#buttonu20130.ButtonSelected,#buttonu20124.ButtonSelected,#buttonu20139.ButtonSelected,#buttonu20121.ButtonSelected,#buttonu20115.ButtonSelected,#buttonu20127.ButtonSelected,#buttonu20112.ButtonSelected
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u20114-4
{
	z-index: 256;
	width: 30px;
	min-height: 35px;
	position: relative;
}

#buttonu20106.ButtonSelected #u20108-4,#buttonu20142.ButtonSelected #u20143-4,#buttonu20136.ButtonSelected #u20138-4,#buttonu20133.ButtonSelected #u20135-4,#buttonu20118.ButtonSelected #u20119-4,#buttonu20109.ButtonSelected #u20110-4,#buttonu20130.ButtonSelected #u20131-4,#buttonu20124.ButtonSelected #u20125-4,#buttonu20139.ButtonSelected #u20140-4,#buttonu20121.ButtonSelected #u20122-4,#buttonu20115.ButtonSelected #u20116-4,#buttonu20127.ButtonSelected #u20128-4,#buttonu20112.ButtonSelected #u20114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 30px;
	margin: 0px;
}

#u20113
{
	z-index: 260;
	width: 29px;
	height: 2px;
	position: relative;
}

#buttonu20112:hover #u20113
{
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20106.ButtonSelected #u20107,#buttonu20142.ButtonSelected #u20144,#buttonu20136.ButtonSelected #u20137,#buttonu20133.ButtonSelected #u20134,#buttonu20118.ButtonSelected #u20120,#buttonu20109.ButtonSelected #u20111,#buttonu20130.ButtonSelected #u20132,#buttonu20124.ButtonSelected #u20126,#buttonu20139.ButtonSelected #u20141,#buttonu20121.ButtonSelected #u20123,#buttonu20115.ButtonSelected #u20117,#buttonu20127.ButtonSelected #u20129,#buttonu20112.ButtonSelected #u20113
{
	width: 29px;
	height: 2px;
	min-height: 0px;
	margin: 0px;
}

#buttonu20145
{
	z-index: 261;
	width: 36px;
	padding-bottom: 16px;
	margin-left: 277px;
	margin-top: 30px;
	position: relative;
}

#buttonu20145:hover
{
	width: 36px;
	min-height: 0px;
	margin: 30px 0px 0px 277px;
}

#buttonu20145.ButtonSelected
{
	width: 36px;
	min-height: 0px;
	margin: 30px 0px 0px 277px;
}

#u20147
{
	z-index: 262;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 10px;
}

#buttonu20145:hover #u20147
{
	width: 17px;
	height: 2px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#u20146
{
	z-index: 263;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 10px;
}

#buttonu20145.ButtonSelected #u20147,#buttonu20145:hover #u20146
{
	width: 17px;
	height: 2px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#buttonu20145.ButtonSelected #u20146
{
	width: 17px;
	height: 2px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#buttonu20917
{
	z-index: 105;
	width: 176px;
	border-width: 0px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 19px;
	position: relative;
}

#u20918-5
{
	z-index: 106;
	width: 176px;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	position: relative;
}

#buttonu20917.ButtonSelected #u20918-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 176px;
	margin: 0px;
}

#u20918-3
{
	padding-left: 24px;
}

#u20918-3.rtl-list
{
	padding-left: 0px;
	padding-right: 24px;
}

#u20918-3 > li:before
{
	content: '';
}

#u20919
{
	z-index: 111;
	width: 49px;
	height: 2px;
	border-style: solid;
	border-color: #F7F7F7;
	background-color: transparent;
	margin-left: 22px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#buttonu20917:hover #u20919
{
	border-style: solid;
	border-color: #000000;
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px -2px 22px;
	border-width: 0px 0px 0px 50px;
}

#buttonu20917.ButtonSelected #u20919
{
	border-style: solid;
	border-color: #F7F7F7;
	width: 49px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px -2px 22px;
	border-width: 0px 0px 0px 1px;
}

#u20916-4
{
	z-index: 101;
	width: 570px;
	min-height: 54px;
	border-style: solid;
	border-width: 4px;
	border-color: #000000;
	padding-top: 6px;
	line-height: 41px;
	text-align: center;
	margin-left: 26px;
	margin-top: 50px;
	position: relative;
}

.slideLeft
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu20922
{
	z-index: 91;
	width: 0.01px;
	height: 324px;
	margin-top: 100px;
	position: relative;
}

#u20927
{
	position: absolute;
	width: 630px;
	height: 324px;
	background-color: transparent;
}

#u20927popup
{
	z-index: 92;
}

#u20928
{
	z-index: 93;
	width: 630px;
	height: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u20932
{
	z-index: 95;
	width: 630px;
	height: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u20930
{
	z-index: 97;
	width: 630px;
	height: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u20934
{
	z-index: 99;
	width: 630px;
	height: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u21656-22
{
	z-index: 61;
	width: 570px;
	min-height: 269px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
}

#u21656-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21656-7,#u21656-9,#u21656-11,#u21656-13,#u21656-15
{
	padding-top: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21656-4,#u21656-6,#u21656-8,#u21656-10,#u21656-12,#u21656-14
{
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 400;
	line-height: 16px;
}

#u21656-16
{
	font-size: 14px;
	color: #000000;
	font-family: alice, serif;
	font-weight: 400;
}

#u21656-18
{
	text-align: right;
}

#u21656-2,#u21656-3,#u21656-17
{
	font-size: 14px;
	color: #000000;
}

#u21656-20
{
	font-size: 13px;
	text-align: right;
	line-height: 16px;
	padding-top: 10px;
	color: #7F7F7F;
}

#u20920-8
{
	z-index: 83;
	min-height: 455px;
	background-color: #FFFFFF;
	padding: 25px 30px 30px;
}

#u20920-2
{
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#u20920-4
{
	font-size: 13px;
	line-height: 16px;
	padding-top: 10px;
	color: #7F7F7F;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u20920-6
{
	font-size: 13px;
	line-height: 16px;
	padding-top: 20px;
	color: #7F7F7F;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u20920-8-bw
{
	z-index: 83;
	min-height: 455px;
	margin-top: 60px;
}

#pu21298
{
	width: 0.01px;
}

#u21298,#u21298-bw
{
	z-index: 2;
	height: 450px;
}

#u21299,#u21299-bw
{
	z-index: 3;
	height: 450px;
}

#u21302-4
{
	z-index: 9;
	width: 50px;
	min-height: 36px;
	padding-top: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 30px;
}

#u21303-6
{
	z-index: 13;
	width: 200px;
	min-height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 100px;
}

#u21304-4
{
	z-index: 19;
	width: 50px;
	min-height: 36px;
	padding-top: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 30px;
}

#u21305-6
{
	z-index: 23;
	width: 200px;
	min-height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 100px;
}

#u21306-4
{
	z-index: 29;
	width: 50px;
	min-height: 37px;
	padding-top: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 330px;
}

#u21307-9
{
	z-index: 33;
	width: 200px;
	min-height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 400px;
}

#u21308-4
{
	z-index: 42;
	width: 50px;
	min-height: 39px;
	padding-top: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 330px;
}

#u21309-6
{
	z-index: 46;
	width: 200px;
	min-height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 400px;
}

#u21310-4
{
	z-index: 52;
	width: 570px;
	min-height: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 30px;
}

#u21311-5
{
	z-index: 56;
	width: 266px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 30px;
}

#u21300
{
	z-index: 4;
	min-height: 41px;
	padding-bottom: 19px;
}

#u21301-4
{
	z-index: 5;
	width: 388px;
	min-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 46px;
}

#u21300-bw
{
	z-index: 4;
	min-height: 41px;
}

.html
{
	background-color: #F4F4F4;
}

body
{
	position: relative;
	min-width: 630px;
}

@-ms-viewport
{
	width: 630px;
}

@-webkit-viewport
{
	width: 630px;
}

@-o-viewport
{
	width: 630px;
}

@-moz-viewport
{
	width: 630px;
}

@viewport
{
	width: 630px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../../fonts/montserrat-regular-webfont.eot');
	src: local('☺'), url('../../fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

