Hi {{name}}!<br>
<br>
{{talent}} has sadly withdrawn their application.
<br>
<br>
Other talent are bound to make applications soon! To view your
existing applications please click the link below.
<br>
<br>
<a href="{{link}}">View my applicants.</a>
<br>
<br>
We wish you all the best with your future jobs.
<br>
<br>