Hi {{name}},<br>
<br>
{{employer}} has sadly declined your application.
<br>
<br>
Please don’t be discouraged. O-Link still has many jobs opportunities
to offer you, click below and keep applying!
<br>
<br>
<a href="{{link}}">Browse jobs..</a>
<br>
<br>
We wish you all the best with your future applications.
