Hi {{name}}!<br>
<br>
A password reset was requested for your O-Link account.
To confirm this request, and set a new password for your account,
please click the link below:
<br>
<br>
<a href="{{link}}">Reset my password.</a>
<br>
<br>
(This link is valid for 30 minutes from the time this reset was first
requested)
<br>
<br>
If this password reset was not requested by you, no action is needed.
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Password%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>