Hi {{name}},<br>
<br>
A password reset was requested for your O-Link account.
To confirm this request, and set a new password for your account,
please click the link below:
<br>
<br>
<a href="{{link}}">Reset my password.</a><br>

(This link is valid for 30 minutes from the time this reset was first
requested)
<br>
<br>
If this password reset was not requested by you, no action is needed.
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.