Hi {{name}},<br>
<br>
The job to be a(n) {{category}}, which you had applied to has been
edited.
<br>
<br>
To view the changes, please click <a href="{{link}}">here.</a>
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Talent%20Job%20Edited%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>