Hi {{name}},<br>
<br>
The job to be a(n) {{category}}, which you had applied to has been
edited.
<br>
<br>
To view the changes, please click <a href="{{link}}">here.</a>
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.