Hi {{name}}!
<br>
<br>
Congratulations on posting an offer for a(n) {{category}} and
becoming one step closer to finding the talent you need. Our system
will arrange a list of suitable applicants for you shortly.
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Job%20Live%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with finding the talent you need.