Congratulations {{name}}<br>
<br>
{{employer}} has provisionally accepted you to work for them on  {{date}}.
<br>
<br>
To commit to or decline the offer, please click  <a href="{{link}}">here.</a>
<br>
<br>
You have 24 hours in which to respond. If you do not respond in that
time frame, the offer will automatically be declined.
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.
<br>
<br>
We wish you all the best with your future applications.