Hi {{name}}!<br>
<br>
Thank you for purchasing {{package}} and getting yourself one step
closer to the job you want.
<br>
<br>
Your available applications figure has been adjusted.
<br>
<br>
Applications remaining today: {{applicationsLeft}}
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Payments%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with your future applications.
<br>
<br>