Hi {{name}},<br>
<br>
Welcome to O-Link, it’s great to have you on board.
<br>
<br>
To confirm your registration and begin applying for jobs, simply click
on the link below:
<br>
<br>
<a href="{{link}}">Confirm my email address.</a>
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.