<div style=" padding-left:42px;">
    Kind Regards,
    <br>
    <br>
    </div>
<div  style="float: left; width: 842px; height:85px; margin-top:34px; border-top: 3px solid #33B6CC; border-radius:45px;  ;">
    <img src="http://154.66.197.62:8080//logo/Logo_email.png" style="float: left; margin:0; padding: 0; " width="90" height="90">
    <div style="margin-top:20px; font-size:24px; width: 100%;"><div style=" float:left; margin-top: 10px; margin-left:23px;">The O-Link Team</div>
        <div style="width: 242px; float: right; margin-top: 6px; font-weight: lighter; font-size:20px;">

            <a style="-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px;  text-align: center; width: 32px; height: 32px; background-color: #ffffff; color: #00b488; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;">
                <div style="margin-top: 8px;"><img src="http://154.66.197.62:8080//img/facebook-logo.png"></div></a>
            <a style="-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px;  text-align: center; width: 32px; height: 32px; background-color: #ffffff; color: #00b488; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;">
                <div style="margin-top: 8px;"><img src="http://154.66.197.62:8080//img/linkedin-logo.png"></div>
            </a>


            <a style="-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px;  text-align: center; width: 32px; height: 32px; background-color: #ffffff; color: #00b488; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;">
                <div style="margin-top: 8px;">
                    <img src="http://154.66.197.62:8080//img/twitter-logo-silhouette.png">
                    </div>
            </a>

            <a style="-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px;  text-align: center; width: 32px; height: 32px; background-color: #ffffff; color: #00b488; -webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;">
                <div style="margin-top: 8px;">
                    <img src="http://154.66.197.62:8080//img/home-icon-silhouette.png">
                </div>
            </a>

        </div>
    </div>
</div>