<div style="width: 100%">
   <img src="http://154.66.197.62:8080//logo/Logo_small.png" width="60px" height="60px" style="float: left"><div style="padding-top: 10px; padding-left: 65px;" ><b>Kind Regards,</b><br>The O-Link Team</div>
</div>