<div style="width: 100%">
    <img src="http://154.66.197.62:8080//img/Logo_footer.png" width="120" height="120" style="margin:20px; float: left; ;">
    <div style="margin-top:10px; font-size: 20px; width: 100%;"><div style=" margin-top:32px; float:left;  margin-left:8px;">Kind Regards,<br><b>The O-Link Team</b></div>
        <div style="width: 202px; float: right; margin-top:32px; font-weight: lighter; font-size:20px;">

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; ">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/F_icon.png"></div></a>

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; ">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/square-linkedin-512.png"></div>
            </a>


            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; ">

                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/twitter-512.png">
                    </div>

            </a>

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; ">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/web-new.png">
                </div>
            </a>

        </div>
    </div>

</div>